@import "tailwindcss";
@custom-variant dark (&:where(.dark,.dark *))

@layer base {
  h1 {
    /* @apply text-red-200 text-6xl; */
  }
  button,
  a {
    @apply p-1 px-2.5 bg-gray-50 rounded;
  }
  * {
    @apply m-0 p-0;
  }
  input,
  select {
    @apply border
    h-10 bg-bg
    border-gray-200 
    px-0
    rounded;
  }
  body {
    @apply dark: bg gray -900px 
    dark:text-gray-200
    bg-gray-50  sm:bg-amber-60 md-bg-cyan-50 lg:bg-cyan-50 
    dark:sm:bg-pink-50 dark:md-bg-amber-50 lg:bg-cyan-50;
  }
}

@theme {
  --color-theme: var(--color-red-500);
  --color-bg: var(--color-gray-50);
}

@layer component {
  .input {
    @apply p-1.5
    dark:bg-gray-800 dark:text-gray-300;
  }
  .div {
    @apply flex gap-2.5;
  }
  .div.row {
    @apply flex-col;
  }
}

@layer urilities {
  .input-my {
    @apply px-2.5;
  }
}
